<div class="container-fluid h-100" onload="addcolor()">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-4 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Buscar Match..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <!-- HACER FOR EACH -->
                    <div class="contacts">
                        <!--
                        <div th:if="${msjNULLMatch == 0 }" style="height: inherit; text-align: center;">
                            <h4 style="margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: auto;">
                                Ve busca amistades 🫂</h4>
                        </div>-->
                        <div style="height: inherit;">
                            <div >
                                <li class="active">
                                    <form action="/BuscarAmistad/Chat" method="post" class="input-group"style=" margin-bottom: 0px; ">
                                        <input name="id" type="hidden" value="${mtch.cod_usu2}">
                                        <button class="btn d-flex bd-highlight" style=" background:none;">
                                            <div class="img_cont">
                                                <img src="https://images.pexels.com/photos/7968654/pexels-photo-7968654.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded-circle user_img">
                                            </div>
                                            <div class="user_info">
                                                <span>Ernesto H.</span>
                                            </div>
                                        </button>
                                    </form>
                                </li>
                            </div>
                            <div >
                                <li class="">
                                    <form action="/BuscarAmistad/Chat" method="post" class="input-group"
                                        style=" margin-bottom: 0px;">
                                        <input name="id" type="hidden" th:value="${mtch.cod_usu2}">
                                        <button class="btn d-flex bd-highlight" style=" background:none;">
                                            <div class="img_cont">
                                                <img src="https://images.pexels.com/photos/7788425/pexels-photo-7788425.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded-circle user_img">
                                            </div>
                                            <div class="user_info">
                                                <span>Katy J.</span>
                                            </div>
                                        </button>
                                    </form>
                                </li>
                            </div>
                            <!--
                            <div th:if="${MSJdeleteMatchAndMsj != '' }">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong th:text="${MSJdeleteMatchAndMsj}"></strong>
                                </div>
                                <script>
                                    window.setTimeout(function () {
                                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                            $(this).remove();
                                        });
                                    }, 2000);

                                </script>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
        <div class="col-md-8 col-xl-8 chat">
            <!-- HACER FOR EACH 
            <div th:if="${msjNULLMatch == 0 }" style="height: inherit;">
                <div th:if="${msjNULLMensajes == 0 }" style="height: inherit;">
                    <div class="card">
                        <H2 style="margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: auto;">
                            🪧 Sin Conversaciones 🪧</H2>
                    </div>
                </div>
            </div>
            <div th:if="${msjNULLMatch == 1 }" style="height: inherit;">
                <div th:if="${msjNULLMensajes == 0 }" style="height: inherit;">
                    <div class="card">
                        <H2 style="margin-top: auto;margin-bottom: auto;margin-left: auto;margin-right: auto;">
                            ⬅ Selecciona una conversación</H2>
                    </div>

                </div>-->
                <div>
                <div style="height: inherit;">
                    <div class="card">
                        <div class="card-header msg_head" style="border-bottom :solid white 1px !important">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://images.pexels.com/photos/7968654/pexels-photo-7968654.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>Julio</span>
                                </div>
                            </div>
                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                            <div class="action_menu">
                                <ul>
                                    <li>
                                        <form action="/BuscarAmistad/CancelarMatch" method="post">
                                            <input name="cod_usu_menu" type="hidden" th:value="${ChatUserid}">
                                            <button class="btn" style="color :white"><i
                                                    class="fas fa-trash"></i>Cancelar Match</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div id="chat_container" class="card-body msg_card_body">
                            <!--<h5 th:text="${msjNULLMensajes_2}" style="text-align: center; color: darkgray;"></h5>
                             HACER FOR EACH DE MENSAJES  -->
                            <div>
                                <div th:if="${msj.cod_usu1 == cod_usu_now}">
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://images.pexels.com/photos/7968654/pexels-photo-7968654.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            Hola
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${msj.cod_usu2 == cod_usu_now}">
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">Buenas tardes
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="https://images.pexels.com/photos/7968654/pexels-photo-7968654.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span id="final"></span>
                        </div>
                        <div class="card-footer" style="border-top :solid white 1px !important">
                            <form action="/BuscarAmistad/EnviarMensaje" method="post" class="input-group">
                                <input name="cod_usu_enviarmsj" type="hidden" th:value="${cod_usu_enviarmsj}">
                                <textarea class="form-control type_msg" name="msj_enviar"
                                    placeholder="Escribe un mensaje..."></textarea>
                                <button class="input-group-text send_btn input-group-append"><i
                                        class="fas fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>